# Ignoring datasets 
# Projects/'Machine Learning'/'Credit Card Customer Retention'/'BankChurners.csv'
# Projects/'Machine Learning'/'Starbucks Customer Segmentation'/portfolio.csv
# Projects/'Machine Learning'/'Starbucks Customer Segmentation'/'profile.csv'
# Projects/'Machine Learning'/'Starbucks Customer Segmentation'/'transcript.csv'
# Projects/Mini-Projects/'Apple App Store'/data/
# Projects/Mini-Projects/'Paintings Analysis'/data/
